.profile-picture {
    position: absolute;
    top: 5%;
    left: 80%;
    height: 80%;
}

.company-picture {
    position: absolute;
    left: -15%;
    height: auto;
    width: 40%;
    bottom: 30%;
}

.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal section .hide-list-style-type {
    list-style-type: none;
}
