.profile-picture{
    position: absolute;
    top: 0;
    right: 0;
    height: 70%;
}

.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal section  ul{
    list-style-type: none;
}
